.buscar-colaborador-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    
    .buscar-colaborador {
        width: 50%;

        .input-colaborador {
            width: 90%;
        }
    }
}

.checkbox {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
}