.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: var(--primary);
    color: var(--white);
    padding: 0.5rem;
    font-size: 2rem;
    font-family: var(--font-header);
    cursor: pointer;
    z-index: 1;
}