:root {
    --primary: #333387;
    --blue: #489feb;
    --blue-dark: #4d85b7;
    --blue-light: #cfe9ff;
    --blue-light-btn: #85c6ff;
    --green: #93ca89;
    --green-done-icon: #29c80c;
    --white: #ffffff;
    --gray: #6e6e6e;
    --gray-light: #eae8e8;
    --gray-light-table: #f2f2f2;
    --yellow: #fae89e;
    --orange: #f38b1b;
    --orange-light: #e89e50;
    --orange-dark: #ae5d05;
    --dropdown-background: #f9f9f9;
    --font-header: "Lexend", sans-serif;
    --font-body: "Roboto", sans-serif;
}