:root {
    --primary: #333387;
    --blue-dark: #4d85b7;
    --blue-light: #cfe9ff;
    --white: #ffffff;
    --gray: #6e6e6e;
    --gray-light: #eae8e8;
    --yellow: #fae89e;
    --orange: #f38b1b;
    --orange-dark: #ae5d05;
    --dropdown-background: #f9f9f9;
    --font-header: "Lexend", sans-serif;
    --font-body: "Roboto", sans-serif;
}