<h2>Time de Colaboradores</h2>
<div class="buscar-colaboradores" [formGroup]="formColaborador">
  <div class="form-group buscar-colaborador">
    <div class="input">
      <input type="text" class="input-colaborador" placeholder="Busque por nome, e-mail ou perfil" formControlName="colaborador">
    </div>
  </div>
  <button type="button" class="btn-primary icon" (click)="buscarColaborador()">
    <span class="material-symbols-outlined">
      search
    </span>
  </button>
</div>
<div class="novo-colaborador-container mt-2">
  <button type="button" class="btn-primary icon" (click)="buscarColaborador()">
    <span class="material-symbols-outlined">
      add
    </span>
  </button>
</div>
<div class="tabela mt-2">
  <table>
    <tr>
      <th>Nome do colaborador</th>
      <th>E-mail</th>
      <th>Perfil</th>
      <th></th>
    </tr>
    <tr *ngFor="let colaborador of listaColaboradores">
      <td>{{ colaborador.nome }}</td>
      <td>{{ colaborador.email }}</td>
      <td>{{ colaborador.perfil }}</td>
      <td class="icones-tabela">
        <span class="material-symbols-outlined">edit</span>
        <span class="material-symbols-outlined">delete</span>
      </td>
    </tr>
    <tr *ngIf="!listaColaboradores || listaColaboradores.length === 0">
      <td colspan="4">Nenhum registro encontrado</td>
    </tr>
  </table>
</div>