.buscar-colaboradores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 95%;

    .input-colaborador {
        width: 70vw;
    }
}

.novo-colaborador-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
}