.rotate {
    transition: 0.5s;
    rotate: 180deg;
}

.dropdown {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--dropdown-background);
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 2.18rem;
}

.show-dropdown-content {
    display: block;
}

.dropdown-option {
    padding: .5rem;
    cursor: pointer;

    &:hover {
        background-color: var(--gray-light);
    }
}

.dropdown-input {
    width: 100%;
}