.navbar {
    margin: 0;
    padding: 0;
    background-color: var(--gray-light);
    color: var(--gray);
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: 0.5s;

    &.exibir {
        width: 10vw;
    }

    &.minimizar {
        width: 2vw;
    }

    .nav-button {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;

        .seta {
            font-size: 2rem;
            cursor: pointer;
            transition: 0.5s;

            &.minimizar {
                rotate: 180deg;
            }
        }
    }

    .nav-option {
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.5s;
        
        .icone {
            margin-right: 0.5rem;
        }
        
        &.minimizar {
            display: none;
        }

        &.ativo {
            color: var(--primary);
        }
    }
}
