@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --primary: #333387;
    --white: #ffffff;
    --gray: #6e6e6e;
    --gray-light: #eae8e8;

    --font-header: "Lexend", sans-serif;
    --font-body: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
}